@use "./card.module"


    
.container
    height: 2em
    width: 100%
    background-color: #ffffff21
    border-radius: 1em
    overflow: hidden

.bar
    background-image: linear-gradient(90deg, #c50000, #f4ac00)
    height: 100%
